@import 'src/assets/styles/variables';

.item {

}

.image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 100%;
	margin: 0 auto;
}

.info {
	padding: 2px;
}

.info h2 {
	margin-bottom: 5px;
}

.info p {
	margin-bottom: 10px;
}
