.buttons {
	button {
		margin-top: 2px;
		margin-bottom: 6px;
	}
}

.cartImage {
	display: flex;
	justify-content: center;
	border: 10 px white solid;
	height: 200px;
}

.price {
	font-weight: 8px;
}

.header {
	text-align: center;
	font-size: 40px;
}
