@import 'src/assets/styles/variables';

.heading {
	margin: 38px auto;
	text-align: center;
	font-size: 32px;
	color: $white;
	line-height: 1.5;
	@media (max-width: $mobile) {
		font-size: 26px;
	}
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	img {
		height: 600px;
		width: 400px;
		margin: 0 auto;
	}
}
.header {
	font-size: 40px;
}
