.image {
	width: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.element {
	border-bottom: 1px rgb(white, 0.4) solid;
	margin-right: 20px;
}

.image {
	display: flex;
	justify-content: center;
	height: 60px;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}
