@import 'src/assets/styles/variables';

$accent-04: rgba($accent, 0.4);

.button {
	outline: none;
	font-size: 14px;
	border-radius: 10px;
	padding: 4px 16px;
	transition: background-color 0.5s ease;
	background-color: transparent;
	border: 1 px yellow solid;
	cursor: pointer;
	margin-top: 8px;
	color: $white;

	@media (max-width: $mobile) {
		font-size: 16px;
		padding: 8px 24px;
	}

	&:hover {
		background-color: rgba(red, 0.5);
		color: $white;
	}

	&.main {
		background-color: rgba(255, 255, 255, 0.25);

		&:hover {
			background-color: $accent-04;
		}
	}
}

.wrapper {
	text-align: left;
	text-align: center;
}
